<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head.ejs') %>
<body>
  <%- include('../../partials/navbar_user.ejs') %>
  <hr>
  <main class='container '>
    <div class='row m-auto'>
      <% data_article.forEach(article=> { %>
        <div class="col-md-3" style='margin-top: 3rem;'>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="<%-article.thumbnail_url%>" alt="Card image cap" >
            <div class="card-body p-2 ">
              <h5 class="card-title text pt-2 p-2 text-lg-center text" style="font-size: 1.1rem; text-align: center;" ><%- article.title %></h5>
              <a href="/read/<%-article.slug%>" class="btn btn-info form-control">Read</a>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
    <div class='row'>
      <div class='col col-12'>
        <% if (page_now > 2) { %>
          <a href="/articles/page/<%- page_now - 1 %> " class='link-info  fs-5 m-3' style='float: left;'>
            &lt;&lt; Prev
          </a>
        <% } else if (page_now == 2) { %>
          <a href="/" class='link-info  fs-5 m-3' style='float: left;'>
            &lt;&lt; Prev
          </a>
        <% } %> 
        <% if (exists_next) { %>
          <a href="/articles/page/<%- page_now + 1 %> " class='link-info fs-5 m-3' style='float:right;'>
           Next >>
          </a>
        <% } %>
      </div>
    </div>
  </main>
  <%- include('../../partials/footer_scripts.ejs') %>
</body>
</html>