<!DOCTYPE html>
 <%- include('../../partials/head.ejs') %> 
<html lang="en">
  <body>

  <%- include('../../partials/navbar_admin.ejs') %> 
  <hr>
  <main>
    <section class="container m-auto">
      <form action="/admin/categories/edit/<%-data_categorie.id%> "  method="POST" class="form-control">
        <h5 class='card-title m-2'> Edit categorie </h5>
        <div >
          <input required autocomplete="off" autocapitalize="on" class="form-control m-2" type="text" name="new_title" value='<%- data_categorie.title %>'  >
          <button type='submit' class='btn m-2 btn-success'>update</button>
        </div>
      </form>
    </section>
  </main>
  <%- include('../../partials/footer_scripts.ejs') %>
</body>
</html>